.registrachia {
    left: 403px; 
    top: 110px; 
    position: absolute; 
    color: black; 
    font-size: 64px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word
}
.strelka_left {
    width: 50px; 
    height: 50px; 
    left: 300px; 
    top: 125px; 
    position: absolute;
}
.oboi {
    width: 929px; 
    height: 800px; 
    left: 151px; 
    top: 262px; 
    position: absolute; 
    border-radius: 10px; 
    border: 3px #FE7211 solid
}
.zapomnit_na_etom_komputere {
    width: 350px; 
    height: 47px; 
    left: 455px; 
    top: 612px; 
    position: absolute; 
    color: rgba(0, 0, 0, 0.60); 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400;
    word-wrap: break-word
}
.knopka {
    width: 393px; 
    height: 72px; 
    left: 413px; 
    top: 696px; 
    position: absolute; 
    background: white; 
    border-radius: 10px; 
    border: 1px #FE7211 solid;
    font-size: 28px;
}
.image1 {
    width: 46px; 
    height: 50px; 
    left: 428px; 
    top: 843px; 
    position: absolute
}
.Rectangle2 {
    width: 100%; 
    height: 228px; 
    left: 0px; 
    top: 1112px; 
    position: absolute; 
    background: #23292D
}
.Image157 {
    width: 100px; 
    height: 100px; 
    left: 37px; 
    top: 1141px; 
    position: absolute
}
.slogan2 {
    left: 180px; 
    top: 1175px; 
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-family: JejuHallasan; 
    font-weight: 400; 
    word-wrap: break-word
}
.Image102 {
    width: 50px; 
    height: 50px; 
    left: 871px; 
    top: 1176px; 
    position: absolute
}
.Image103 {
    width: 50px; 
    height: 50px; 
    left: 933px; 
    top: 1176px; 
    position: absolute
}
.Image104 {
    width: 50px; 
    height: 50px; 
    left: 995px; 
    top: 1176px; 
    position: absolute
}
.Image105 {
    width: 50px; 
    height: 50px; 
    left: 1051px; 
    top: 1176px; 
    position: absolute
}
.Image106 {
    width: 50px; 
    height: 50px; 
    left: 1113px; 
    top: 1176px; 
    position: absolute
}
.soch_seti {
    left: 871px; 
    top: 1141px;
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Inter; 
    font-weight: 600;
    word-wrap: break-word
}
.a090207 {
    width: 760px; 
    height: 11px; 
    left: 37px; 
    top: 1305px; 
    position: absolute; 
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word
}
.razrabotchik {
    width: 648px; 
    height: 27px; 
    left: 37px; 
    top: 1274px; 
    position: absolute; 
    color: white; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word
}
.knopka2 {
    width: 189px; 
    height: 95px; 
    left: 413px; 
    top: 819px; 
    position: absolute; 
    background: white; 
    border-radius: 10px; 
    border: 3px #FE7211 solid
}
.knopka3 {
    width: 190px; 
    height: 95px; 
    left: 616px; 
    top: 819px; 
    position: absolute; 
    background: white; 
    border-radius: 10px; 
    border: 3px #FE7211 solid
}